body, html {
    width: 100%;
    height: auto;
    margin: 0;
    font-family: Roboto;
    font-size: 1em;
    bacground: red;
    /* background-image: url('../image/large-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

#header-container {
    border-style: groove;
    background-color:white;
}
#header-container-main {
    border-style: groove;
    background-color:lavender;
}
.container-fluid {
    width:80%
}

.headspace {
    margin-top: 100px;
}

#ice-logo {
    margin: 2px 0px;
    width: 75px;
    height: 75px;
}

.logo {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

body {
    font-family: roboto, arial, helvettica, sans-serif;
}

.center-all {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.title {
    font-size: 24px;
    margin: 16px 0px 0px 0px;
    padding: 0px;
    font-family: Roboto;
}

.subtitle {
    font-size: 18px;
    margin: 2px 0px 0px 0px;
    padding: 0px;
    font-family: Roboto;
}

#header-container {
    height: 140px;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
    font-family: Roboto;
}

legend.scheduler-border {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-family: Roboto;
}

table {
    border-style: none;

}

/*table th {*/
/*text-align: center;*/
/*background-color:#84c4a5;*/
/*}*/

th {
    background-color: greenyellow;
    text-align: left;
}

td {
    background-color: papayawhip;
}

.tab-link{
    font-weight: bold;
   border-style: groove;

}

.buttons {
    /*text-align: center;*/
}

.settings {
    font-size: 1em;
    color: black;
    text-align: right;
}

.sign-out {
    font-size: 1em;
    color: black;
    text-align: right;
}

.user {
    display: table-cell;
    text-align: right;
    line-height: 1em;
    padding-top: 4px;
}

/*.btn-xlarge {*/
    /*padding: 18px 28px;*/
    /*font-size: 18px; //change this to your desired size*/
/*line-height: normal;*/
    /*-webkit-border-radius: 8px;*/
    /*-moz-border-radius: 8px;*/
    /*border-radius: 8px;*/
/*}*/






