
    #result{
       // margin-right:5px;
        float:right;


    }

    #new-password-form .short{
        color:#FF0000;
    }

    #new-password-form .weak{
        color:#E66C2C;

    }

    #new-password-form .good {
        color:#2D98F3;
    }

    #new-password-form .strong{
        color:#006400;
    }

